@import url(http://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic);
/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Karla, helvetica, arial, sans-serif;
}

/* container */

.container {
	position: relative;
}

/* items */

.item {
	height: 300px;
	width: 50%;
	background: PapayaWhip;
	color: gray;
	float: left;
	transition: all 500ms ease;
	text-align: center;
	line-height: 300px;
}

/* button-1 */

#button-1:hover {
	transform: rotate(90deg) scale(1.5);
	opacity: .3;
}

#button-1:active {
	background: aquamarine;
	opacity: 1;
}

/* button-2 */

#button-2::after {
	content: 'test content';
	color: white;
}

#button-2:hover::after {
	content: 'this text changes on hover';
	color: red;
}

/* button-3 */
